button {
    background: none;
    border: none;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: all;
    transition-duration: 500ms;
    position: relative;
    padding: 1rem;
  }
  
  .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 100;
    padding: 0;
    margin:0;
  }
  
  .items {
    cursor: pointer;
    padding: 1rem 2rem;
  }
  
  .btn {
    display: block;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .menuIcon {
    height: 1.8rem;
    width: 1.8rem;
  }
  
  .button-right {
    display: flex;
    gap: 0.5rem;
  }
  
  .profile {
    height: 2rem;
    width: 2rem;
    color: grey;
  }
  
  .logo {
    width: auto;
    height: 4rem;
  }

  .btn_listProfile {
    color: #f1f1f1;
    font-size: medium;
    text-decoration: none;
  }
  @media screen and (min-width: 992px) {
    .list {
      flex-direction: row;
      position: initial;
    }
  
    .items {
      border-bottom: initial;
    }
  
    .btn {
      display: none;
    }
  
    .nav-bar {
      top: 0; /* Stay on top */
      transition: top 0.3s; /* Transition effect when sliding down (and up) */
    }
  }
  